docs/schemas/appstream-metainfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by ChatGPT Codex. Just wanted autocompletion in IDE, since there's no official XSD schema for MetaInfo -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xml="http://www.w3.org/XML/1998/namespace"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
             schemaLocation="https://www.w3.org/2001/xml.xsd"/>
  <xs:element name="component">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="metadata_license" type="xs:string" minOccurs="0"/>
        <xs:element name="project_license" type="xs:string" minOccurs="0"/>
        <xs:element name="name" type="localizedString" maxOccurs="unbounded"/>
        <xs:element name="summary" type="localizedString" maxOccurs="unbounded"/>
        <xs:element name="description" type="richText" minOccurs="0"/>
        <xs:element name="developer" type="developerType" minOccurs="0"/>
        <xs:element name="url" type="urlType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="translation" type="translationType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="launchable" type="launchableType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="content_rating" type="contentRatingType" minOccurs="0"/>
        <xs:element name="branding" type="brandingType" minOccurs="0"/>
        <xs:element name="supports" type="supportsType" minOccurs="0"/>
        <xs:element name="requires" type="requiresType" minOccurs="0"/>
        <xs:element name="screenshots" type="screenshotsType" minOccurs="0"/>
        <xs:element name="releases" type="releasesType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="localizedString">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang" use="optional"/>
        <xs:attribute name="translate" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="richText" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="p" type="richText"/>
      <xs:element name="ul" type="listType"/>
      <xs:element name="ol" type="listType"/>
      <xs:element name="li" type="richText"/>
      <xs:any processContents="lax"/>
    </xs:choice>
    <xs:attribute ref="xml:lang" use="optional"/>
    <xs:attribute name="translate" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="listType">
    <xs:sequence>
      <xs:element name="li" type="richText" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="developerType">
    <xs:sequence>
      <xs:element name="name" type="localizedString"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="urlType">
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attribute name="type" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="translationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="launchableType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="contentRatingType">
    <xs:attribute name="type" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="brandingType">
    <xs:sequence>
      <xs:element name="color" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="type" type="xs:string" use="required"/>
              <xs:attribute name="scheme_preference" type="xs:string" use="optional"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="supportsType">
    <xs:sequence>
      <xs:element name="control" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requiresType">
    <xs:sequence>
      <xs:element name="display_length" type="displayLengthType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="displayLengthType">
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="compare" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="screenshotsType">
    <xs:sequence>
      <xs:element name="screenshot" type="screenshotType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="screenshotType">
    <xs:sequence>
      <xs:element name="image" type="xs:anyURI"/>
      <xs:element name="caption" type="localizedString" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string" use="optional"/>
    <xs:attribute ref="xml:lang" use="optional"/>
  </xs:complexType>

  <xs:complexType name="releasesType">
    <xs:sequence>
      <xs:element name="release" type="releaseType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="releaseType">
    <xs:sequence>
      <xs:element name="description" type="richText" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" use="required"/>
    <xs:attribute name="date" type="xs:string" use="optional"/>
  </xs:complexType>
</xs:schema>